

 .fondo {background-image: url(https://tenor.com/bGOzj.gif);

 }

h1 
  {
    color: blue;
    text-align: center;
    font-size: 80px ;
  }

.a {
    color:blueviolet;
    text-align: left;
    font-size: 30px;
}